# System files
.DS_Store
Thumbs.db

# Dependency directory
node_modules
dist
coverage

# npm debug logs
npm-debug.log

# Webstorm
.idea
.env

# Folder for migrations
/migrations

# Migration configurators
/migrate.ts
/migrate.js
/migrate.json

# Inmemmory mongo config
/globalConfig.json
